body{
margin:unset;
background-color: aliceblue;
}

#navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 122px;    
}

#navbar > .left {
display: flex;


}